*,
::before,
::after {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: Baskervville, serif;
  color: linen;
  background-color: rgb(20, 30, 40);
}
h1 {
  font-family: Anton, sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}
a {
  text-decoration: none;
  color: linen;
}

/*Now I am ready to start putting together the grid layout. CSS Grid offers a two-dimensional grid-based layout, allowing me to center items horizontally and vertically while still retaining control to do things like overlap elements.

I've began by creating a main selector and giving it a display property set to grid.*/

main {
  display: grid;
}
